@import "../../App";

// MEDIA QUERIES
@media (min-width: 768px) {
  .body-col-first span {
    width: max-content;
  }
  .days th {
    width: 25px;
  }
}
@media (max-width: 767px) {
  .body-col-first {
    height: 2.25em;
    align-items: center;
  }
  .days th {
    width: 40px;
  }
}
@media (max-width: 575px) {
  .body-col-first img {
    display: none;
  }
}

.Table {
  border-collapse: collapse;
  position: absolute;
  left: 0;
  thead {
    .header-row {
      border: $border;
      color: $white;
      th {
        padding: 0.35em 0.75em !important;
        border-right: $border;
        background: $bg-dark;
        &:nth-child(1) {
          border-right: none !important;
        }
      }
    }
  }
  .employee-row {
    border: $border;
    .body-col-first {
      img {
        margin-right: 0.5em;
        width: 16px;
      }
    }
  }
  .header-col-first,
  .body-col-first {
    display: flex;
    min-width: min-content;
    background: $bg-light;
    border-right: $border;
    span {
      margin-left: 0.25em;
      text-align: left;
      flex-grow: 1;
    }
  }
  .header-col-first,
  .body-col-first,
  .header-col-second,
  .body-col-second {
    padding: 0.35em 0.5em;
  }
  .body-col-second {
    span {
      display: flex;
      justify-content: center;
      flex-grow: 1;
      width: max-content;
    }
  }
  .days {
    border-right: $border;
    border-left: $border;
    th {
      border: none !important;
    }
  }
  .fixed-row {
    background: $bg-light;
    position: sticky;
    overflow: hidden;
    z-index: 2;
    left: 0;
    top: 0;
  }
}
