@import "../../App";

.Table {
  border-collapse: collapse;
  thead {
    background: #e5e5e5;
    .header-row {
      background: $bg-dark;
      border: $border;
      color: $white;
      th {
        padding: 0.35em 0.5em;
        border-right: $border;
      }
    }
  }
  .employee-row {
    border: $border;
    th {
      display: flex;
      min-width: max-content;
      padding: 0.35em 0.5em;
      background: $bg-light;
      img {
        margin-right: 0.5em;
        width: 16px;
      }
    }
  }
  .days {
    border-right: $border;
    border-left: $border;
    th {
      width: 24px;
    }
  }
  .blue-box {
    @include box($blue, not-allowed);
  }
  .red-box {
    @include box($red, not-allowed);
  }
  .gray-box {
    @include box($white, pointer);
    border: $border;
  }
}
