// VARIABLES
$border: 1px solid #c5c5c5;
$radius: 0.25em;

// COLORS
$bg-light: #e5e5e5;
$bg-dark: #525763;
$black: #282c34;
$white: #fff;
$blue: #0092b7;
$red: #d23927;
$green: #008c33;

// MIXINS
@mixin box($bg-color, $cursor) {
  background-color: $bg-color;
  padding: 0 0.6em;
  margin: 0 0.1em;
  cursor: $cursor;
  border: $border;
  border-radius: $radius;
  @media (max-width: 767px) {
    padding: 0.4em 1em;
  }
}

@mixin display($justify, $items) {
  display: flex;
  justify-content: $justify;
  align-items: $items;
}

.App {
  text-align: center;
  min-height: 100vh;
  width: 100%;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $black;
  color: white;
  font-size: calc(5px + 2vmin);
  position: fixed;
  width: 100%;
  height: 12%;
  top: 0;

  h1 {
    text-transform: capitalize;
  }
}

.App-main {
  position: fixed;
  overflow: scroll;
  top: 12%;
  bottom: 0;
  left: 0;
  right: 0;
  @include display(center, unset);
}
